/*Custom Style*/
.page-container {
  padding-left: 70px; }

/*.header*/
.is-collapsed .header,
.header {
  width: calc(100% - 70px); }

/*.sidebar*/
.sidebar {
  width: 280px; }

.is-collapsed .sidebar,
.is-collapsed .sidebar:hover {
  width: 70px; }

.sidebar .sidebar-inner .sidebar-logo {
  padding: 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625); }

.is-collapsed .sidebar .sidebar-inner .sidebar-logo,
.is-collapsed .sidebar:hover .sidebar-inner .sidebar-logo {
  padding: 0; }

.sidebar .sidebar-inner .sidebar-logo a .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; }

.is-collapsed .sidebar .sidebar-inner .sidebar-logo a .logo {
  width: 70px;
  min-height: 65px; }

.sidebar-logo a .logo img {
  height: 40px; }

.is-collapsed .sidebar-logo a .logo img {
  height: 50px; }

.sidebar-logo a .logo-text {
  white-space: nowrap; }

.sidebar .sidebar-inner .sidebar-logo {
  margin-top: -1px; }

.is-collapsed .sidebar .sidebar-inner .sidebar-logo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.0625); }

/*.page-container*/
.is-collapsed .page-container {
  padding-left: 70px; }

/*.sidebar-menu*/
.sidebar-menu > li > a {
  padding: 10px 15px;
  font-weight: normal; }

.sidebar-menu > li.active > a {
  background: rgba(0, 0, 0, 0.05);
  font-weight: bold; }

.sidebar-menu > li > a:hover {
  background: rgba(0, 0, 0, 0.02); }

.sidebar .sidebar-inner .sidebar-menu > li > a .title {
  display: unset; }

/* .header */
.header {
  top: 0;
  text-align: center; }

.header-title {
  text-align: center;
  line-height: 65px;
  display: inline-block;
  margin: 0; }

.header.header-sub-2 {
  position: relative;
  height: unset;
  margin-top: 65px;
  width: 100%;
  z-index: 700;
  margin-bottom: -65px;
  text-align: left; }
  .header.header-sub-2 .nav-right {
    margin-right: 20px; }

.header .header-container .nav-left > li.nav-filter-item,
.header .header-container .nav-right > li.nav-filter-item {
  padding-left: 10px; }
  .header .header-container .nav-left > li.nav-filter-item label,
  .header .header-container .nav-right > li.nav-filter-item label {
    font-weight: bold; }
  .header .header-container .nav-left > li.nav-filter-item span,
  .header .header-container .nav-right > li.nav-filter-item span {
    font-weight: 300; }
  .header .header-container .nav-left > li.nav-filter-item span i,
  .header .header-container .nav-right > li.nav-filter-item span i {
    font-size: .7em; }
  .header .header-container .nav-left > li.nav-filter-item a,
  .header .header-container .nav-right > li.nav-filter-item a {
    display: inline-block;
    padding-left: 5px;
    line-height: 55px;
    min-height: 55px; }
  .header .header-container .nav-left > li.nav-filter-item + li.nav-filter-item,
  .header .header-container .nav-right > li.nav-filter-item + li.nav-filter-item {
    margin-left: 10px; }
  .header .header-container .nav-left > li.nav-filter-item.nav-filter-item-btn,
  .header .header-container .nav-right > li.nav-filter-item.nav-filter-item-btn {
    padding-top: 8px; }
.header .header-container .nav-right > li.nav-filter-item + li.nav-filter-item {
  margin-left: 0;
  margin-right: 0; }

.radio-custom,
.checkbox-custom {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }

.radio-custom label,
.checkbox-custom label {
  min-height: 22px;
  margin-bottom: 0;
  font-weight: 300;
  cursor: pointer; }

.radio-custom input[type="radio"],
.checkbox-custom input[type="checkbox"] {
  position: absolute;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -20px; }

.radio-custom.disabled label,
.checkbox-custom.disabled label,
fieldset[disabled] .radio-custom label,
fieldset[disabled] .checkbox-custom label {
  cursor: not-allowed; }

.input-group-addon .radio-custom,
.input-group-addon .checkbox-custom {
  margin: 0; }

.checkbox-custom {
  padding-left: 20px; }

.checkbox-custom label {
  position: relative;
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle; }

.checkbox-custom label:empty {
  padding-left: 0; }

.checkbox-custom label::before {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  content: "";
  background-color: #fff;
  border: 1px solid #e4eaec;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s; }

.checkbox-custom label::after {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-top: 1px;
  margin-left: -20px;
  font-size: 12px;
  line-height: 20px;
  color: #76838f;
  text-align: center; }

.checkbox-custom input[type="checkbox"],
.checkbox-custom input[type="radio"] {
  z-index: 1;
  width: 20px;
  height: 20px;
  opacity: 0; }

.checkbox-custom input[type="checkbox"]:focus + label::before,
.checkbox-custom input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.checkbox-custom input[type="checkbox"]:checked + label::before,
.checkbox-custom input[type="radio"]:checked + label::before {
  border-color: #e4eaec;
  border-width: 10px;
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s; }

.checkbox-custom input[type="checkbox"]:checked + label::after,
.checkbox-custom input[type="radio"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c"; }

.checkbox-custom input[type="checkbox"]:disabled + label,
.checkbox-custom input[type="radio"]:disabled + label {
  opacity: .65; }

.checkbox-custom input[type="checkbox"]:disabled + label::before,
.checkbox-custom input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
  background-color: #f3f7f9;
  border-color: #e4eaec;
  border-width: 1px; }

.checkbox-custom.checkbox-circle label::before {
  border-radius: 50%; }

.checkbox-custom.checkbox-inline {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0; }

.checkbox-inline + .checkbox-inline {
  margin-left: 20px; }

.checkbox-default input[type="checkbox"]:checked + label::before,
.checkbox-default input[type="radio"]:checked + label::before {
  background-color: #fff;
  border-color: #e4eaec;
  border-width: 1px; }

.checkbox-default input[type="checkbox"]:checked + label::after,
.checkbox-default input[type="radio"]:checked + label::after {
  color: #62a8ea; }

.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #62a8ea;
  border-color: #62a8ea; }

.checkbox-primary input[type="checkbox"]:checked + label::after,
.checkbox-primary input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before,
.checkbox-danger input[type="radio"]:checked + label::before {
  background-color: #f96868;
  border-color: #f96868; }

.checkbox-danger input[type="checkbox"]:checked + label::after,
.checkbox-danger input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before,
.checkbox-info input[type="radio"]:checked + label::before {
  background-color: #57c7d4;
  border-color: #57c7d4; }

.checkbox-info input[type="checkbox"]:checked + label::after,
.checkbox-info input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before,
.checkbox-warning input[type="radio"]:checked + label::before {
  background-color: #f2a654;
  border-color: #f2a654; }

.checkbox-warning input[type="checkbox"]:checked + label::after,
.checkbox-warning input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before,
.checkbox-success input[type="radio"]:checked + label::before {
  background-color: #46be8a;
  border-color: #46be8a; }

.checkbox-success input[type="checkbox"]:checked + label::after,
.checkbox-success input[type="radio"]:checked + label::after {
  color: #fff; }

.checkbox-sm {
  padding-left: 18px; }

.checkbox-sm label {
  padding-left: 8px; }

.checkbox-sm label:empty {
  padding-left: 0; }

.checkbox-sm label::before,
.checkbox-sm label::after {
  width: 18px;
  height: 18px;
  margin-left: -18px; }

.checkbox-sm label::after {
  font-size: 10px;
  line-height: 18px; }

.checkbox-sm input[type="checkbox"],
.checkbox-sm input[type="radio"] {
  width: 18px;
  height: 18px; }

.checkbox-sm input[type="checkbox"]:checked + label::before,
.checkbox-sm input[type="radio"]:checked + label::before {
  border-width: 9px; }

.checkbox-lg {
  padding-left: 24px; }

.checkbox-lg label {
  padding-left: 12px; }

.checkbox-lg label:empty {
  padding-left: 0; }

.checkbox-lg label::before,
.checkbox-lg label::after {
  width: 24px;
  height: 24px;
  margin-left: -24px; }

.checkbox-lg label::after {
  font-size: 14px;
  line-height: 24px; }

.checkbox-lg input[type="checkbox"],
.checkbox-lg input[type="radio"] {
  width: 24px;
  height: 24px; }

.checkbox-lg input[type="checkbox"]:checked + label::before,
.checkbox-lg input[type="radio"]:checked + label::before {
  border-width: 12px; }

.radio-custom {
  padding-left: 20px; }

.radio-custom label {
  position: relative;
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle; }

.radio-custom label:empty {
  padding-left: 0; }

.radio-custom label::before {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: -20px;
  content: "";
  background-color: #fff;
  border: 1px solid #e4eaec;
  border-radius: 50%;
  -webkit-transition: border 300ms ease-in-out 0s, color 300ms ease-in-out 0s;
  -o-transition: border 300ms ease-in-out 0s, color 300ms ease-in-out 0s;
  transition: border 300ms ease-in-out 0s, color 300ms ease-in-out 0s; }

.radio-custom label::after {
  position: absolute;
  top: 7px;
  left: 7px;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-left: -20px;
  content: " ";
  background-color: transparent;
  border: 2px solid #76838f;
  border-radius: 50%;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  transition-transform: 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }

.radio-custom input[type="radio"] {
  z-index: 1;
  width: 20px;
  height: 20px;
  opacity: 0; }

.radio-custom input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.radio-custom input[type="radio"]:checked + label::before {
  border-color: #e4eaec;
  border-width: 10px; }

.radio-custom input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }

.radio-custom input[type="radio"]:disabled + label {
  opacity: .65; }

.radio-custom input[type="radio"]:disabled + label::before {
  cursor: not-allowed; }

.radio-custom.radio-inline {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0; }

.radio-inline + .radio-inline {
  margin-left: 20px; }

.radio-default input[type="radio"]:checked + label::before {
  background-color: #fff;
  border-color: #e4eaec;
  border-width: 1px; }

.radio-default input[type="radio"]:checked + label::after {
  border-color: #62a8ea; }

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #62a8ea; }

.radio-primary input[type="radio"]:checked + label::after {
  border-color: #fff; }

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #f96868; }

.radio-danger input[type="radio"]:checked + label::after {
  border-color: #fff; }

.radio-info input[type="radio"]:checked + label::before {
  border-color: #57c7d4; }

.radio-info input[type="radio"]:checked + label::after {
  border-color: #fff; }

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f2a654; }

.radio-warning input[type="radio"]:checked + label::after {
  border-color: #fff; }

.radio-success input[type="radio"]:checked + label::before {
  border-color: #46be8a; }

.radio-success input[type="radio"]:checked + label::after {
  border-color: #fff; }

.radio-sm {
  padding-left: 18px; }

.radio-sm label {
  padding-left: 8px; }

.radio-sm label:empty {
  padding-left: 0; }

.radio-sm label::before {
  width: 18px;
  height: 18px;
  margin-left: -20px; }

.radio-sm label::after {
  top: 7px;
  left: 7px;
  width: 4px;
  height: 4px;
  margin-left: -20px;
  border-width: 2px; }

.radio-sm input[type="radio"] {
  width: 18px;
  height: 18px; }

.radio-sm input[type="radio"]:checked + label::before {
  border-width: 9px; }

.radio-lg {
  padding-left: 24px; }

.radio-lg label {
  padding-left: 12px; }

.radio-lg label:empty {
  padding-left: 0; }

.radio-lg label::before {
  width: 24px;
  height: 24px;
  margin-left: -20px; }

.radio-lg label::after {
  top: 8px;
  left: 8px;
  width: 8px;
  height: 8px;
  margin-left: -20px;
  border-width: 2px; }

.radio-lg input[type="radio"] {
  width: 24px;
  height: 24px; }

.radio-lg input[type="radio"]:checked + label::before {
  border-width: 12px; }

@media (min-width: 768px) {
  .form-inline .radio-custom,
  .form-inline .checkbox-custom {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }

  .form-inline .radio-custom label,
  .form-inline .checkbox-custom label {
    padding-left: 0; }

  .form-inline .radio-custom input[type="radio"],
  .form-inline .checkbox-custom input[type="checkbox"] {
    position: relative;
    margin-left: 0; }

  .form-inline .radio-custom label {
    padding-left: 10px; }

  .form-inline .checkbox-custom label {
    padding-left: 10px; }

  .form-inline .checkbox-custom input[type="checkbox"] {
    position: absolute;
    margin-left: -20px; }

  .form-inline .radio-custom input[type="radio"] {
    position: absolute;
    margin-left: -20px; } }
.form-horizontal .radio-custom,
.form-horizontal .checkbox-custom {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0; }

.form-horizontal .radio-custom,
.form-horizontal .checkbox-custom {
  min-height: 29px; }

.form-horizontal .input-group-addon .radio-custom,
.form-horizontal .input-group-addon .checkbox-custom {
  padding-top: 0; }

.form-horizontal .input-group-addon .radio-custom,
.form-horizontal .input-group-addon .checkbox-custom {
  min-height: 22px; }

/* map */
.bnpb-map {
  height: 500px; }

.layer-filter-cluster .cb-filter-cluster {
  margin: 0; }
.layer-filter-cluster h6,
.layer-filter-cluster .cb-filter-cluster {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px; }
.layer-filter-cluster h6 {
  margin-left: 0; }

.layer-legend {
  max-height: 450px;
  overflow: hidden; }
  .layer-legend:hover {
    overflow: auto; }
  .layer-legend h6 {
    margin-bottom: 10px; }
  .layer-legend ul {
    list-style-type: none;
    padding-left: 0; }
    .layer-legend ul li {
      padding-left: 20px; }
      .layer-legend ul li > strong {
        margin-left: -20px;
        font-size: 1.3;
        margin-bottom: 5px;
        display: block; }
        .layer-legend ul li > strong i {
          font-size: 20px; }
        .layer-legend ul li > strong i, .layer-legend ul li > strong span {
          line-height: 20px;
          display: inline-block;
          vertical-align: top; }
      .layer-legend ul li + li {
        margin-top: 20px; }
  .layer-legend table td.separator {
    min-width: 30px; }

.table-result {
  margin: 20px 0 0; }
  .table-result thead th {
    vertical-align: middle; }

.table-result-actions {
  margin-top: -30px; }

.table-result-filter strong, .table-result-filter span {
  display: inline-block;
  vertical-align: top; }
  .table-result-filter strong i, .table-result-filter span i {
    font-size: .7em; }
.table-result-filter strong {
  min-width: 200px; }
.table-result-filter span::before {
  content: ':';
  display: inline-block;
  vertical-align: top;
  margin-right: 5px; }

/*# sourceMappingURL=bnpb.css.map */

.font-red{
  color: red;
}
@media (min-width: 992px) {
  .modal-lg {
    max-width: 800px; } }
    .has-danger label:not(.m-checkbox):not(.m-radio),
    .has-danger label.col-form-label,
    .has-danger label.form-control-label {
      color: #f4516c; }
    
    .has-danger .form-control-feedback {
      color: #f4516c; }
    
    .has-danger .input-group-addon,
    .has-danger .form-control {
      border-color: #ebedf2; }
    
    .has-danger .form-control:focus {
      border-color: #716aca; }
    
    .m-form.m-form--state .has-danger .input-group-addon,
    .m-form.m-form--state .has-danger .form-control:focus,
    .m-form.m-form--state .has-danger .form-control {
      border-color: #f4516c; }
    
    .m-form.m-form--state .has-danger .bootstrap-select.btn-group.btn.btn-secondary,
    .m-form.m-form--state .has-danger .input-group-btn > .btn.btn-secondary {
      border-color: #f4516c; }
      .m-form.m-form--state .has-danger .bootstrap-select.btn-group.btn.btn-secondary:hover,
      .m-form.m-form--state .has-danger .input-group-btn > .btn.btn-secondary:hover {
        border-color: #f4516c; }

        .m-form.m-form--state .has-danger .input-group-addon,
.m-form.m-form--state .has-danger .form-control:focus,
.m-form.m-form--state .has-danger .form-control {
  border-color: #f4516c; }

.m-form.m-form--state .has-danger .bootstrap-select.btn-group.btn.btn-secondary,
.m-form.m-form--state .has-danger .input-group-btn > .btn.btn-secondary {
  border-color: #f4516c; }
  .m-form.m-form--state .has-danger .bootstrap-select.btn-group.btn.btn-secondary:hover,
  .m-form.m-form--state .has-danger .input-group-btn > .btn.btn-secondary:hover {
    border-color: #f4516c; }
    .m-form--state .has-danger .bootstrap-touchspin .input-group-btn-vertical .btn {
      border-color: #f4516c; }
      .m-form--state .has-danger .bootstrap-touchspin .input-group-btn-vertical .btn.focus, .m-form--state .has-danger .bootstrap-touchspin .input-group-btn-vertical .btn:focus, .m-form--state .has-danger .bootstrap-touchspin .input-group-btn-vertical .btn:hover {
        border-color: #f4516c; }
        .m-form.m-form--state .has-danger .bootstrap-select.btn-group > .btn.btn-secondary,
        .m-form.m-form--state .has-danger .bootstrap-select.btn-group > .btn.btn-default {
          border-color: #f4516c; }
          .m-form.m-form--state .has-danger .bootstrap-select.btn-group > .btn.btn-secondary:hover,
          .m-form.m-form--state .has-danger .bootstrap-select.btn-group > .btn.btn-default:hover {
            border-color: #f4516c; }
            .has-success label:not(.m-checkbox):not(.m-radio),
            .has-success label.col-form-label,
            .has-success label.form-control-label {
              color: #34bfa3; }
            
            .has-success .form-control-feedback {
              color: #34bfa3; }
            
            .has-success .input-group-addon,
            .has-success .form-control {
              border-color: #ebedf2; }
            
            .has-success .form-control:focus {
              border-color: #716aca; }
            
            .m-form.m-form--state .has-success .input-group-addon,
            .m-form.m-form--state .has-success .form-control:focus,
            .m-form.m-form--state .has-success .form-control {
              border-color: #34bfa3; }
            
            .m-form.m-form--state .has-success .bootstrap-select.btn-group.btn.btn-secondary,
            .m-form.m-form--state .has-success .input-group-btn > .btn.btn-secondary {
              border-color: #34bfa3; }
              .m-form.m-form--state .has-success .bootstrap-select.btn-group.btn.btn-secondary:hover,
              .m-form.m-form--state .has-success .input-group-btn > .btn.btn-secondary:hover {
                border-color: #34bfa3; }

                .m-form--state .has-success .bootstrap-touchspin .input-group-btn-vertical .btn {
                  border-color: #34bfa3; }
                  .m-form--state .has-success .bootstrap-touchspin .input-group-btn-vertical .btn.focus, .m-form--state .has-success .bootstrap-touchspin .input-group-btn-vertical .btn:focus, .m-form--state .has-success .bootstrap-touchspin .input-group-btn-vertical .btn:hover {
                    border-color: #34bfa3; }
                    .m-form.m-form--state .has-success .bootstrap-select.btn-group > .btn.btn-secondary,

                    .m-form.m-form--state .has-success .select2-container--default .select2-selection--multiple,
                    .m-form.m-form--state .has-success .select2-container--default .select2-selection--single {
                      border-color: #34bfa3; }
                    
                    .m-form.m-form--state .has-success .select2-container--default.select2-container--focus .select2-selection--multiple,
                    .m-form.m-form--state .has-success .select2-container--default.select2-container--focus .select2-selection--single, .m-form.m-form--state .has-success .select2-container--default.select2-container--open .select2-selection--multiple,
                    .m-form.m-form--state .has-success .select2-container--default.select2-container--open .select2-selection--single {
                      border-color: #34bfa3; }
                      .modal-header {
                        background-color: rgb(0, 197, 220);
                    }                    
                    .modal-title {
                      color: rgb(255, 255, 255) !important;
                  }

                  .form-date{
                    display: block;
                    width: 100%;
                    padding: 0.65rem 1.25rem;
                    font-size: 1rem;
                    line-height: 1.25;
                    color: #495057;
                    background-color: #fff;
                    background-image: none;
                    background-clip: padding-box;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    border-radius: 0.25rem;
                    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
                    font-family: sans-serif, Arial;
                }
                .form-date[readonly]{
                    background-color: white;
                }
                .form-date[disabled] {
                    border-color: #f4f5f8;
                    color: #6f727d;
                    background-color: #f4f5f8;
                }