<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="m-form m-form--state" [formGroup]="legalForm" (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Tambah Kejadian Bencana</span>
                    </h4>
                    <button type="button" class="close pull-right" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row" [formControlStyle]="legalForm" formComponent="jenis-bencana-ddl">
                                <label class="col-sm-6">Jenis Bencana
                                    <sup class="font-red">*</sup>
                                </label>
                                <div class="col-sm-6">
                                    <jenis-bencana-ddl #hasMessage formControlName="jenisBencana" [(ngModel)]="jenisBencana"></jenis-bencana-ddl>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row" [formControlStyle]="legalForm">
                                <label class="col-sm-6">Tanggal Kejadian
                                    <sup class="font-red">*</sup>
                                </label>
                                <div class="col-sm-6">
                                    <div class="input-group date" #hasMessage id="m_datepicker_2">
                                        <input class="form-control" datePicker maxlength="50" formControlName="tanggalKejadian"
                                            name="docDate" placeholder="Tanggal Kejadian" [(ngModel)]="tanggalKejadian">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row" [formControlStyle]="legalForm" formComponent="provinsi-ddl">
                                <label class="col-sm-6">Provinsi
                                    <sup class="font-red">*</sup>
                                </label>
                                <div class="col-sm-6">

                                    <provinsi-ddl #hasMessage formControlName="provinsi" [(ngModel)]="provinsi"></provinsi-ddl>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row" [formControlStyle]="legalForm" formComponent="kota-ddl">
                                <label class="col-sm-6">Kota/ Kab.
                                    <sup class="font-red">*</sup>
                                </label>
                                <div class="col-sm-6">
                                    <kota-ddl #hasMessage formControlName="kotaKab" [(ngModel)]="kotaKab"></kota-ddl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" [formControlStyle]="legalForm" formComponent="textarea">
                            <label class="col-sm-3 col-form-label">Penyebab Bencana <sup class="font-red">*</sup>
                            </label>
                            <div class="col-sm-9">
                                <textarea name="sebab" class="form-control" formControlName="sebab" [(ngModel)]="sebab"
                                    id=""></textarea>
                            </div>
                        </div>
                    <div class="form-group row" [formControlStyle]="legalForm" formComponent="textarea">
                        <label class="col-sm-3 col-form-label">Deskripsi <sup class="font-red">*</sup>
                        </label>
                        <div class="col-sm-9">
                            <textarea name="deskripsi" class="form-control" formControlName="deskripsi" [(ngModel)]="deskripsi"
                                id=""></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">Batal</button>
                    <button type="submit" [disabled]="legalForm.invalid" class="btn btn-primary" [buttonBusy]="saving"
                        [busyText]="SavingWithThreeDot">
                        <span>Simpan</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>