<h1>
  Welcome to {{ title }}!
</h1>
<router-outlet></router-outlet>
<div id="loader">
  <div class="spinner"></div>
</div>
<script type="text/javascript">window.addEventListener('load', () => { const loader = document.getElementById('loader'); setTimeout(() => { loader.classList.add('fadeOut') }, 300) })</script>
<div>
  <div class="sidebar">
    <div class="sidebar-inner">
      <div class="sidebar-logo">
        <div class="peers ai-c fxw-nw">
          <div class="peer peer-greed">
            <a class="td-n sidebar-toggle td-n" href="#">
              <div class="peers ai-c fxw-nw">
                <div class="peer">
                  <div class="logo">
                    <img src="assets/static/images/BPBD-indonesia-80.png" height="65" alt="BPBD">
                  </div>
                </div>
                <div class="peer peer-greed">
                  <h5 class="lh-1 mB-0 logo-text">Smart Disaster Map</h5>
                </div>
                <i class="ti-angle-left"></i>
              </div>
            </a>
          </div>
          <div class="peer">
            <div class="mobile-toggle sidebar-toggle">
              <a href="" class="td-n">
                <i class="ti-arrow-circle-left"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <ul class="sidebar-menu scrollable pos-r">
        <li class="nav-item active">
          <a class="sidebar-link" href="https://colorlib.com/polygon/adminator/index.html" default>
            <span class="icon-holder">
              <i class="c-blue-500 ti-home"></i>
            </span>
            <span class="title">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="sidebar-link" href="email.html">
            <span class="icon-holder">
              <i class="c-black-500 fa fa-users"></i>
            </span>
            <span class="title">Pengguna</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="sidebar-link" href="compose.html">
            <span class="icon-holder">
              <i class="c-black-500 fa fa-sign-out"></i>
            </span>
            <span class="title">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-container">

    <div class="header navbar">
      <div class="header-container">
        <ul class="nav-left">
          <li>
            <a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);">
              <i class="ti-menu"></i>
            </a>
          </li>
        </ul>
        <h4 class="header-title">Smart Disaster Mapping - BNPB/BPBD</h4>
        <ul class="nav-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
              <div class="peer mR-10">
                <img class="w-2r bdrs-50p" src="assets/static/images/BPBD-indonesia-80.png" alt="">
              </div>
              <div class="peer">
                <span class="fsz-sm c-grey-900">BPBD - Jawa Timur</span>
                <i class="fa fa-chevron-down"></i>
              </div>
            </a>
            <ul class="dropdown-menu fsz-sm">
              <li>
                <a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700">
                  <i class="ti-power-off mR-10"></i>
                  <span>Logout</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="header header-sub-2 navbar">
      <div class="header-container">
        <ul class="nav-left">
          <li class="nav-filter-item">
            <label>Lokasi :</label>
            <span>Jakarta <i class="fa fa-chevron-right"></i> Semua Lokasi</span>
            <a (click)="appfilterkejadian.show()" data-toggle="modal"><i class="fa fa-gears"></i></a>
          </li>
          <li class="nav-filter-item">
            <label>Waktu :</label>
            <span>2014 / Januari</span>
            <a (click)="appfilterkejadian.show()" data-toggle="modal"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
        <ul class="nav-right">
          <li class="nav-filter-item">
            <label>Kejadian Bencana :</label>
            <span>Banjir Jakarta Maret - 2014</span>
            <a (click)="appfilterkejadian.show()" data-toggle="modal"><i class="fa fa-gears"></i></a>
          </li>
          <li class="nav-filter-item nav-filter-item-btn">
            <button (click)="appkejadianmodal.show()" data-toggle="modal" class="btn btn-outline-primary"><i class="fa fa-plus"></i>
              Kejadian</button>
          </li>
        </ul>
      </div>
    </div>

    <main class="main-content bgc-grey-100">

      <div id="mainContent">
        <div class="row gap-20 pos-r">
          <div class="col-12">
            <div class="bd bgc-white">
              <div class="peers fxw-nw@lg+ ai-s">
                <div class="peer peer-greed w-60p@lg+ w-100@md- p-20">
                  <div class="layers">
                    <div class="layer w-100 mB-10">
                      <h6 class="lh-1">Mapping Kebencanaan</h6>
                    </div>
                    <div class="layer w-100">
                      <!-- <div class="bnpb-map" id="bnpb-map"></div> -->
                      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="false" #gm>
                        <!-- (layerClick)="markerClick($event, gm, infoWindow)" -->
                        <agm-data-layer [geoJson]="geoJsonObject" [style]="styleFunc">
                          <!-- <agm-marker [latitude]="lat" [longitude]="lng" (mouseOver)="onMouseOver($event,infoWindow,gm)"
                            [label]="'M'">
                          </agm-marker> -->
                          <agm-info-window [disableAutoPan]="true" [latitude]="infoWindowLat" [longitude]="infoWindowLong"
                            [isOpen]="infoWindowIsOpen" #infoWindow>
                            <p>
                              {{infoWindowText}}
                            </p>
                          </agm-info-window>
                        </agm-data-layer>
                        <!-- <agm-polygon [paths]="polygon" (polyMouseOver)="polyClicked(i, polygon, infoWindow,gm)" >
                            <agm-info-window #infoWindow [isOpen]="infoWindowIsOpen" [disableAutoPan]="true" [latitude]="infoWindowLat" [longitude]="infoWindowLong">
                                <p>
                                    text goes here
                                </p>>
                            </agm-info-window>    
                        </agm-polygon>  -->
                        <!-- <agm-polygon [paths]="polygon" *ngFor="let a of geoJsonObject.features" (polyMouseOver)="polyClicked(i, polygon, infoWindow,gm)" >
                            <agm-info-window #infoWindow [isOpen]="infoWindowIsOpen" [disableAutoPan]="true" [latitude]="infoWindowLat" [longitude]="infoWindowLong">
                                <p>
                                    {{infoWindowText}}
                                </p>
                            </agm-info-window>    
                        </agm-polygon>  -->
                      </agm-map>
                    </div>
                  </div>
                </div>
                <div class="peer bdL p-20 w-40p@lg+ w-100p@md-">
                  <div class="layers">
                    <div class="layer layer-filter-cluster w-100 mB-5">
                      <h6 class="lh-1">Klustering Berdasarkan</h6>
                      <div class="checkbox-custom checkbox-primary cb-filter-cluster">
                        <input type="checkbox" id="filter-korban" checked />
                        <label for="filter-korban">Korban</label>
                      </div>
                      <div class="checkbox-custom checkbox-primary cb-filter-cluster">
                        <input type="checkbox" id="filter-logistik" checked />
                        <label for="filter-logistik">Logistik</label>
                      </div>
                      <hr />
                    </div>
                    <div class="layer layer-legend w-100">
                      <h6 class="">Keterangan Kluster</h6>
                      <ul>
                        <li>
                          <strong style="color:#D53232"><i class="fa fa-square box"></i>
                            <span>Kluster 1</span></strong>
                          <table width="100%">
                            <tr>
                              <th colspan="3">Sebaran Korban</th>

                              <td class="separator"></td>

                              <th colspan="3">Sebaran Logistik</th>
                            </tr>
                            <tr>
                              <td>Meninggal</td>
                              <td>:</td>
                              <td>&gt; 10</td>

                              <td class="separator"></td>

                              <td>Beras</td>
                              <td>:</td>
                              <td>10 ton</td>
                            </tr>
                            <tr>
                              <td>Hilang</td>
                              <td>:</td>
                              <td>&gt; 4</td>

                              <td class="separator"></td>

                              <td>Pakaian</td>
                              <td>:</td>
                              <td>3 truk</td>
                            </tr>
                            <tr>
                              <td>Luka</td>
                              <td>:</td>
                              <td>&gt; 343</td>

                              <td class="separator"></td>

                              <td>Kesehatan</td>
                              <td>:</td>
                              <td>34 orang</td>
                            </tr>
                            <tr>
                              <td>Mengungsi</td>
                              <td>:</td>
                              <td>&gt; 1000</td>

                              <td class="separator"></td>
                            </tr>
                            <tr>
                              <td>Terdampak</td>
                              <td>:</td>
                              <td>&gt; 4000</td>

                              <td class="separator"></td>
                            </tr>
                          </table>
                        </li>
                        <li>
                          <strong style="color:#E38538"><i class="fa fa-square box"></i>
                            <span>Kluster 2</span></strong>
                          <table width="100%">
                            <tr>
                              <th colspan="3">Sebaran Korban</th>

                              <td class="separator"></td>

                              <th colspan="3">Sebaran Logistik</th>
                            </tr>
                            <tr>
                              <td>Meninggal</td>
                              <td>:</td>
                              <td>&gt; 10</td>

                              <td class="separator"></td>

                              <td>Beras</td>
                              <td>:</td>
                              <td>10 ton</td>
                            </tr>
                            <tr>
                              <td>Hilang</td>
                              <td>:</td>
                              <td>&gt; 4</td>

                              <td class="separator"></td>

                              <td>Pakaian</td>
                              <td>:</td>
                              <td>3 truk</td>
                            </tr>
                            <tr>
                              <td>Luka</td>
                              <td>:</td>
                              <td>&gt; 343</td>

                              <td class="separator"></td>

                              <td>Kesehatan</td>
                              <td>:</td>
                              <td>34 orang</td>
                            </tr>
                            <tr>
                              <td>Mengungsi</td>
                              <td>:</td>
                              <td>&gt; 1000</td>

                              <td class="separator"></td>
                            </tr>
                            <tr>
                              <td>Terdampak</td>
                              <td>:</td>
                              <td>&gt; 4000</td>

                              <td class="separator"></td>
                            </tr>
                          </table>
                        </li>
                        <li>
                          <strong style="color:#115099"><i class="fa fa-square box"></i>
                            <span>Kluster 3</span></strong>
                          <table width="100%">
                            <tr>
                              <th colspan="3">Sebaran Korban</th>

                              <td class="separator"></td>

                              <th colspan="3">Sebaran Logistik</th>
                            </tr>
                            <tr>
                              <td>Meninggal</td>
                              <td>:</td>
                              <td>&gt; 10</td>

                              <td class="separator"></td>

                              <td>Beras</td>
                              <td>:</td>
                              <td>10 ton</td>
                            </tr>
                            <tr>
                              <td>Hilang</td>
                              <td>:</td>
                              <td>&gt; 4</td>

                              <td class="separator"></td>

                              <td>Pakaian</td>
                              <td>:</td>
                              <td>3 truk</td>
                            </tr>
                            <tr>
                              <td>Luka</td>
                              <td>:</td>
                              <td>&gt; 343</td>

                              <td class="separator"></td>

                              <td>Kesehatan</td>
                              <td>:</td>
                              <td>34 orang</td>
                            </tr>
                            <tr>
                              <td>Mengungsi</td>
                              <td>:</td>
                              <td>&gt; 1000</td>

                              <td class="separator"></td>
                            </tr>
                            <tr>
                              <td>Terdampak</td>
                              <td>:</td>
                              <td>&gt; 4000</td>

                              <td class="separator"></td>
                            </tr>
                          </table>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="masonry-item col-md-12">
            <div class="bd bgc-white">
              <div class="layers">
                <div class="layer w-100 pX-20 pT-20">
                  <h6 class="lh-1">Klustering Data Bencana : Banjir Jakarta Maret - 2014</h6>
                  <div class="table-result-actions pull-right">
                    <a (click)="appkorbanmodal.show()" data-toggle="modal" class="btn btn-outline-primary"><i class="fa fa-plus"></i>
                      Data
                      Korban</a>
                    <a (click)="applogistikmodal.show()" data-toggle="modal" class="btn btn-outline-primary"><i class="fa fa-plus"></i>
                      Data
                      Logistik</a>
                  </div>
                </div>
                <div class="layer w-100 p-20">
                  <div class="row">
                    <div class="col-6">
                      <div class="table-result-filter"><strong>Lokasi</strong><span>Jakarta
                          <i class="fa fa-chevron-right"></i> Semua Lokasi</span></div>
                      <div class="table-result-filter"><strong>Klustering Berdasarkan</strong><span>Korban,
                          Logistik</span></div>
                    </div>
                    <div class="col-6 text-right">
                      <div class="table-result-filter"><strong class="text-left">Waktu</strong><span>2018
                          / Januari</span></div>
                    </div>
                  </div>

                  <table class="table table-result table-bordered table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col" rowspan="2">No</th>
                        <th scope="col" rowspan="2">Kab/Kota</th>
                        <th scope="col" rowspan="2">Kecamatan</th>
                        <th scope="col" colspan="5">Korban</th>
                        <th scope="col" colspan="3">Logistik</th>
                        <th scope="col" rowspan="2">Kluster</th>
                      </tr>
                      <tr>
                        <th scope="col">Meninggal</th>
                        <th scope="col">Hilang</th>
                        <th scope="col">Luka</th>
                        <th scope="col">Mengungsi</th>
                        <th scope="col">Terdampak</th>

                        <th scope="col">Beras</th>
                        <th scope="col">Pakaian</th>
                        <th scope="col">Kesehatan</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Jakarta Selatan</td>
                        <td>Jagakarsa</td>
                        <td>1</td>
                        <td>2</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1200</td>

                        <td>120</td>
                        <td>120</td>
                        <td>120</td>

                        <td>Kluster 1</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jakarta Selatan</td>
                        <td>Jagakarsa</td>
                        <td>1</td>
                        <td>2</td>
                        <td>0</td>
                        <td>0</td>
                        <td>1200</td>

                        <td>120</td>
                        <td>120</td>
                        <td>120</td>

                        <td>Kluster 1</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">
          <span>Copyright © 2017 Designed by
              <a href="https://colorlib.com" target="_blank" title="Colorlib">Colorlib</a>. All rights reserved.</span>
      </footer> -->
  </div>
</div>

<div class="modal fade" id="modal-filter">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="bd p-15">
        <h5 class="m-0">Filter Kejadian Bencana</h5>
      </div>
      <div class="modal-body">
        <h6 class="mB-0">Filter Lokasi</h6>
        <hr class="mT-5 mB-5" />
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Provinsi</label>
              <select class="form-control">
                <option>Jakarta</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Kota/Kab.</label>
              <select class="form-control">
                <option>Semua Jakarta</option>
                <option>Jakarta Selatan</option>
              </select>
            </div>
          </div>
        </div>

        <hr style="margin: 10px -15px 20px;" />

        <h6 class="mB-0">Filter Waktu</h6>
        <hr class="mT-5 mB-5" />
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Tahun</label>
              <select class="form-control">
                <option>2015</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Bulan</label>
              <select class="form-control">
                <option>Januari</option>
              </select>
            </div>
          </div>
        </div>

        <hr style="margin: 10px -15px 20px;" />

        <h6 class="mB-0">Pilih Kejadian Bencana</h6>
        <hr class="mT-5 mB-10" />
        <div class="mB-0">
          <div class="form-group">
            <select class="form-control">
              <option>Banjir Jakarta Maret - 2014</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Pilih Kejadian Bencana</button>
      </div>
    </form>
  </div>
</div>
<!-- modal Kejadian -->
<div class="modal fade" id="modal-tambah-kejadian">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="bd p-15">
        <h5 class="m-0">Tambah Kejadian Bencana</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Jenis Bencana</label>
              <select class="form-control">
                <option>Banjir</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Tanggal Kejadian</label>
              <input type="date" class="form-control tanggal-kejadian" id="tgl-kjd">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Provinsi</label>
              <select class="form-control">
                <option>Jakarta</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Kota/Kab.</label>
              <select class="form-control">
                <option>Semua Jakarta</option>
                <option>Jakarta Selatan</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="fw-500">Penyebab Bencana</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="fw-500">Deskripsi</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Tambah Kejadian Bencana</button>
      </div>
    </form>
  </div>
</div>

<!-- modal data korban -->
<div class="modal fade" id="modal-korban">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="bd p-15">
        <h5 class="m-0">Tambah Data Korban</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Status</label>
              <select class="form-control">
                <option>Meninggal</option>
                <option>Hilang</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Jenis Kelamin</label>
              <div class="radio-custom">
                <input type="radio" id="radio-laki" name="gender" value="male" />
                <label for="radio-laki">Laki-laki</label>
              </div>
              <div class="radio-custom">
                <input type="radio" id="radio-perempuan" name="gender" value="female" />
                <label for="radio-perempuan">Perempuan</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500" for="basic-url">Usia</label>
              <div class="input-group">
                <input type="number" min="0" class="form-control" id="basic-url" value="10" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">tahun</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Ahli Waris</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Kota/Kab.</label>
              <select class="form-control">
                <option>Semua Jakarta</option>
                <option>Jakarta Selatan</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Kecamatan</label>
              <select class="form-control">
                <option>Jagakarsa</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="fw-500">Keterangan</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Tambah Data Korban</button>
      </div>
    </form>
  </div>
</div>

<!-- modal logistik -->
<div class="modal fade" id="modal-logistik">
  <div class="modal-dialog" role="document">
    <form class="modal-content">
      <div class="bd p-15">
        <h5 class="m-0">Tambah Bantuan(Logistik)</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Jenis Logistik</label>
              <select class="form-control">
                <option>Pangan</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Jumlah</label>
              <input type="number" min="0" value="10" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Provinsi</label>
              <select class="form-control">
                <option>Jakarta</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="fw-500">Kota/Kab.</label>
              <select class="form-control">
                <option>Semua Jakarta</option>
                <option>Jakarta Selatan</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="fw-500">Keterangan</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Tambah Data Bantuan(Logistik)</button>
      </div>
    </form>
  </div>
</div>
<appkejadianmodal #appkejadianmodal (modalHide)="getData()"></appkejadianmodal>
<applogistikmodal #applogistikmodal (modalHide)="getData()"></applogistikmodal>
<appkorbanmodal #appkorbanmodal (modalHide)="getData()"></appkorbanmodal>
<appfilterkejadian #appfilterkejadian (modalHide)="getData()"></appfilterkejadian>