<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form class="m-form m-form--state" [formGroup]="legalForm" (ngSubmit)="save()">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>Tambah Bantuan (Logistik)</span>
          </h4>
          <button type="button" class="close pull-right" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row" [formControlStyle]="legalForm" formComponent="jenis-logistik-ddl">
                <label class="col-sm-6">Jenis Logistik
                  <sup class="font-red">*</sup>
                </label>
                <div class="col-sm-6">
                  <jenis-logistik-ddl #hasMessage formControlName="jenisLogistik" [(ngModel)]="jenisLogistik"></jenis-logistik-ddl>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row" [formControlStyle]="legalForm">
                <label class="col-sm-6">Jumlah
                  <sup class="font-red">*</sup>
                </label>
                <div class="col-sm-6">
                  <input type="number" min="0" #hasMessage #templateName name="TemplateName" [(ngModel)]="jumlah" class="form-control"
                    formControlName="jumlah">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row" [formControlStyle]="legalForm" formComponent="provinsi-ddl">
                <label class="col-sm-6">Provinsi
                  <sup class="font-red">*</sup>
                </label>
                <div class="col-sm-6">

                  <provinsi-ddl #hasMessage formControlName="provinsi" [(ngModel)]="provinsi"></provinsi-ddl>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row" [formControlStyle]="legalForm" formComponent="kota-ddl">
                <label class="col-sm-6">Kota/ Kab.
                  <sup class="font-red">*</sup>
                </label>
                <div class="col-sm-6">
                  <kota-ddl #hasMessage formControlName="kotaKab" [(ngModel)]="kotaKab"></kota-ddl>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row" [formControlStyle]="legalForm" formComponent="textarea">
            <label class="col-sm-3 col-form-label">Keterangan
            </label>
            <div class="col-sm-9">
              <textarea name="keterangan" class="form-control" formControlName="keterangan" [(ngModel)]="keterangan" id=""></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">Batal</button>
          <button type="submit" [disabled]="legalForm.invalid" class="btn btn-primary" [buttonBusy]="saving" [busyText]="SavingWithThreeDot">
            <span>Simpan</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>