<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form class="m-form m-form--state" [formGroup]="legalForm" (ngSubmit)="save()">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>Filter Kejadian Bencana</span>
          </h4>
          <button type="button" class="close pull-right" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Filter Lokasi</h5>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row" [formControlStyle]="legalForm" formComponent="provinsi-ddl">
                <label class="col-sm-4">Provinsi
                  <sup class="font-red">*</sup>
                </label>
                <div class="col-sm-8">
                  <provinsi-ddl #hasMessage formControlName="provinsi" [(ngModel)]="provinsi"></provinsi-ddl>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row" [formControlStyle]="legalForm" formComponent="kota-ddl">
                <label class="col-sm-4">Kota/ Kab.
                  <sup class="font-red">*</sup>
                </label>
                <div class="col-sm-8">
                  <kota-ddl #hasMessage formControlName="kotaKab" [(ngModel)]="kotaKab"></kota-ddl>
                </div>
              </div>
            </div>
          </div>
          <h5>Filter Waktu</h5>
          <hr>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row" [formControlStyle]="legalForm" formComponent="tahun-ddl">
                <label class="col-sm-4">Tahun
                  <sup class="font-red">*</sup>
                </label>
                <div class="col-sm-8">
                  <tahun-ddl #hasMessage formControlName="tahun" [(ngModel)]="tahun"></tahun-ddl>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row" [formControlStyle]="legalForm" formComponent="bulan-ddl">
                <label class="col-sm-4">Bulan
                  <sup class="font-red">*</sup>
                </label>
                <div class="col-sm-8">
                  <bulan-ddl #hasMessage formControlName="bulan" [(ngModel)]="bulan"></bulan-ddl>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row" [formControlStyle]="legalForm" formComponent="bencana-ddl">
            <label class="col-sm-2">Pilih Kejadian Bencana
              <sup class="font-red">*</sup>
            </label>
            <div class="col-sm-9">
              <bencana-ddl #hasMessage formControlName="bencana" [(ngModel)]="bencana"></bencana-ddl>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">Batal</button>
          <button type="submit" [disabled]="legalForm.invalid" class="btn btn-primary" [buttonBusy]="saving" [busyText]="SavingWithThreeDot">
            <span>Cari</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>