<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal"
  aria-hidden="true" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form class="m-form m-form--state" [formGroup]="legalForm" (ngSubmit)="save()">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>Tambah Bantuan (Logistik)</span>
          </h4>
          <button type="button" class="close pull-right" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row" [formControlStyle]="legalForm" formComponent="status-ddl">
                <label class="col-sm-4">Status
                  <sup class="font-red">*</sup>
                </label>
                <div class="col-sm-8">
                  <status-ddl #hasMessage formControlName="status" [(ngModel)]="status"></status-ddl>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4">Jenis Kelamin
                  <sup class="font-red">*</sup>
                </label>
                <div class="col-sm-8">
                  <div class="radio-custom">
                    <input type="radio" id="radio-laki" name="gender" value="male" />
                    <!-- <input type="radio" [disabled]="isDisableGen || isView || isEdit" name="gen"
                                        [(ngModel)]="genBy" (change)="setActive(genBy)" [checked]="genBy==='system'"
                                        value="system"> {{l('GenerateBySystem')}} -->
                    <label for="radio-laki">Laki-laki</label>
                  </div>
                  <div class="radio-custom">
                    <input type="radio" id="radio-perempuan" name="gender" value="female" />
                    <label for="radio-perempuan">Perempuan</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row" [formControlStyle]="legalForm">
                <label class="col-sm-4">Usia
                  <sup class="font-red">*</sup>
                </label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input type="number" min="0" #hasMessage #templateName name="TemplateName" [(ngModel)]="jumlah"
                      class="form-control" formControlName="usia">
                    <span class="input-group-addon" id="basic-addon2">tahun</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row" [formControlStyle]="legalForm">
                <label class="col-sm-4">Ahli Waris
                  <sup class="font-red">*</sup>
                </label>
                <div class="col-sm-8">
                  <input type="number" min="0" #hasMessage #templateName name="TemplateName" [(ngModel)]="jumlah" class="form-control"
                    formControlName="ahliWaris">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row" [formControlStyle]="legalForm" formComponent="kota-ddl">
                <label class="col-sm-4">Kota/ Kab.
                  <sup class="font-red">*</sup>
                </label>
                <div class="col-sm-8">
                  <kota-ddl #hasMessage formControlName="kotaKab" [(ngModel)]="kotaKab"></kota-ddl>
                </div>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row" [formControlStyle]="legalForm" formComponent="kecamatan-ddl">
                  <label class="col-sm-4">Kecamatan
                    <sup class="font-red">*</sup>
                  </label>
                  <div class="col-sm-8">
                    <kecamatan-ddl #hasMessage formControlName="kecamatan" [(ngModel)]="kecamatan"></kecamatan-ddl>
                  </div>
                </div>
              </div>
          </div>
          <div class="form-group row" [formControlStyle]="legalForm" formComponent="textarea">
            <label class="col-sm-2 col-form-label">Keterangan
            </label>
            <div class="col-sm-10">
              <textarea name="keterangan" class="form-control" formControlName="keterangan" [(ngModel)]="keterangan" id=""></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">Batal</button>
          <button type="submit" [disabled]="legalForm.invalid" class="btn btn-primary" [buttonBusy]="saving" [busyText]="SavingWithThreeDot">
            <span>Simpan</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>